<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Monster Battle</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container" id="app">
    <h1 class="display-1">
      Monster Battle
      <small class="text-muted">with Vue.js</small>
    </h1>
    <template v-if="!gameOn">
      <div class="jumbotron">
        <h2 class="display-4">Rules:</h1>
        <p class="lead">Test your luck by checking how quick can you kill a monster in a luck-based battle. Of course, you can create your own strategy to fight against your bad luck, when needed!</p>
        <dl class="row">
          <dt class="col-sm-3">Attack</dt>
          <dd class="col-sm-9">Both you and the moster take a random damage between 1 and 10.</dd>
          <dt class="col-sm-3">Special Attack</dt>
          <dd class="col-sm-9">You take a random damage between 1 and 10, while the moster takes a random damage between 1 and 20. This can be used only one per game.</dd>
          <dt class="col-sm-3">Heal</dt>
          <dd class="col-sm-9">You taka a random damage between 1 and 10. You don't attack the moster. Instead, you heal yourself with a random health between 1 and 20.</dd>
          <dt class="col-sm-3">Give up</dt>
          <dd class="col-sm-9">Feeling unlucky? Just giveup the current game and consider playing another game.</dd>
        </dl>
        <hr class="my-4">
        <div class="text-center">
          <p class="lead">Ready to test your luck?</p>
          <button type="button" class="btn btn-lg btn-dark" @click="startGame">Start a Game</button>
        </div>
      </div>
    </template>
    <template v-if="gameOn">
      <div class="row">
        <div class="col-sm">
          <h2 class="display-3">You</h2>
          <div class="health-progress progress">
            <div :class="healthBarClasses(normalizedHealth.me)" role="progressbar" :style="healthBarStyles(normalizedHealth.me)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{ normalizedHealth.me }}
            </div>
          </div>
        </div>
        <div class="col-sm">
          <h2 class="display-3">Monster</h2>
          <div class="health-progress progress">
            <div :class="healthBarClasses(normalizedHealth.monster)" role="progressbar" :style="healthBarStyles(normalizedHealth.monster)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{ normalizedHealth.monster }}
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group btn-group-lg d-flex justify-content-center my-5" role="group" aria-label="Action Buttons">
        <button type="button" class="btn btn-primary flex-fill" @click="attack">Attack</button>
        <button type="button" class="btn btn-info flex-fill" @click="specialAttack" :disabled="usedSpecialAttack">Special Attack</button>
        <button type="button" class="btn btn-success flex-fill" @click="heal">Heal</button>
        <button type="button" class="btn btn-danger flex-fill" @click="endGame">Give up</button>
      </div>



      <table class="table table-striped">
        <tbody>
          <tr v-for="message in messages">
            <td class="text-left">
              {{ message.myAction.text }}
              <span class="badge badge-pill badge-dark float-right">{{ message.myAction.value }}</span>
            </td>
            <td :class="['text-center', messageClass(message.actionName)]">{{ message.actionName }}</td>
            <td class="text-right">
                {{ message.monsterAction.text }}
                <span class="badge badge-pill badge-dark float-left">{{ message.monsterAction.value }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </template>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</body>
</html>